/*|============================
  | Додавання & Віднімання
  |============================
*/
.box {
  width: 600px + 30px;
  width: 600px - 30px;
}
/*|============================
  | Множення & Ділення
  |============================
*/
$vaule: 600px;
.box {
  width: 600px * 5;
  width: 600px * 2 + 50px;
  width: 2 * (600px + 50px);
  width: (100px - 5) + (10px * 8);

  width: $vaule / 5;
  width: (600px / 2);
  //   width: (600px / 3px) + 100px;
}
/*|============================
  | Інтерполяція
  |============================
*/
$name: "box";
$margin: 100px;
.box {
  width: $margin * 2;
}
// В дргому випадку буде зберігати результат функції calc
.box {
  width: calc($margin * 2);
  width: calc(#{$margin} * 2);
  width: calc(#{$margin} * 10%);
}
// .box {
//   width: 200px;
//   width: -webkit-calc(100px * 2);
//   width: -moz-calc(100px * 2);
//   width: calc(100px * 2);
// }

.#{$name} {
  margin: $margin;
}
